.rec
{

    border: 1px;
    border: 1px solid;
    padding: 1;
}
div
{
    padding: 1rem;
    border: 1px solid;
}
.cname
{
    margin-left: 550;
    font-size: 4rem;
}
.container
{
    background-color: burlywood;
}
form
{
    padding: 3rem;
    background-color: blanchedalmond;
}
.u
{
    margin-left: 10;
}
.ph
{
    margin-left: 45;
}
.mail
{
    margin-left: 40;
}
.fname
{
    margin-left: 13;
}
.lname
{
    margin-left: 13;
}
.dob
{
    margin-left: 40;
}
.g1
{
    color: mediumblue;
}
.o1
{
    color: red;
}
.o2
{
    color: yellow;
}
.g2
{
    color: mediumblue;
}
.l
{
    color: green;
}
.e
{
    color: red;
}

