.rec
{

    border: 1px;
    border: 1px solid;
    padding: 1;
}
div
{
    padding: 1rem;
    border: 1px solid;
}
.cname
{
    margin-left: 62
    font-size: 6rem;
}
form
{
    padding: 3rem;
}
.u
{
    margin-left: 10;
}
.ph
{
    margin-left: 45;
}
.mail
{
    margin-left: 40;
}
.fname
{
    margin-left: 13;
}
.lname
{
    margin-left: 13;
}
.dob
{
    margin-left: 40;
}
.g1
{
    color: mediumblue;
}
.o1
{
    color: red;
}
.o2
{
    color: yellow;
}
.g2
{
    color: mediumblue;
}
.l
{
    color: green;
}
.e
{
    color: red;
}
body
{
    background-image: url(8.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
*
{
    color: darkcyan;
}
input
{
    border: 1px solid darkcyan;
}
