*
{
    color: darkcyan;
    font-style: italic;
}
a
{
    text-decoration: none;
    color: cornsilk;
}
a:hover
{
    color: aqua;
}
h1
{
    text-align: center;
}
.main
{
    padding: 2rem;
}
.firstName
{
    color: cornsilk;
    text-transform: capitalize;
    font-size: 7rem;
    display: block;
}
.lastName
{   
    text-transform: capitalize;
    font-size: 6rem;
    color: cornsilk;
}
.details
{
    font-size: 3rem;
    text-align: center;
}


/* styling for feedback_form */

.fname
{
    margin-left: 10px;
    border: 1px aquamarine solid;
}
.fmail
{
    margin-left: 4px;
    border: 1px aquamarine solid;
}
.f
{
    font-size: 20px;
}
.fthanks
{
    font-size: 70;
    margin: 240;
    text-align: center;
}
.fshare
{
    font-size: 40px;
    font-weight: 100;
}
body
{
    background-image: url(8.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
input
{
    border: 1px solid darkcyan;
}